<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <meta name="description" content="Write your web application description here">
        <meta name="keywords" content="Write some keywords here">
        <meta name="author" content="auratheme">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
        @Styles.Render("~/Content/css")
    </head>
    <body class="body-afterlogin">
        <partial name="Sidebar" />
        <input type="checkbox" id="chkbx" />
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top position-fixed d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="brandname smallerforphone text-secondary ms-3 ps-1">
                        @Convert.ToDateTime(DateTime.Now).ToString("dddd, MMMM dd yyyy hh:mm tt")
                    </span>
                </a>
                @*<i id="togglesidebar" class="fa-solid fa-left-right color-primarycolor fs-16 toggle-sidebar-btn"></i>*@
            </div>
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item dropdown me-4 pe-1 mt-2">
                        @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                    </li>
                    <li class="nav-item d-block d-sm-none">
                        <i class="fa-solid fa-bars toggle-sidebar-btn me-4" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas"></i>
                    </li>
                </ul>
            </nav>
        </header>

        @Html.Partial("~/Views/Shared/_LeftSidebar.cshtml")
        @Html.Partial("~/Views/Shared/_Notification.cshtml")
        @Html.Partial("~/Views/Shared/_ConfirmationPrompt.cshtml")
        @Html.Partial("~/Views/Shared/_DialogPrompt.cshtml")
        <main id="main">
            @RenderBody()
        </main>

        <!-- multi-select drop down list -->
        <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/otherscripts")
        @Scripts.Render("~/bundles/filetablechart")

        <script>
            var currentUrl = window.location.href;
            if (currentUrl.includes("myprofile") || currentUrl.includes("editmyprofile")) {
                $("#myprofile").addClass("active");
            }
            if (currentUrl.includes("changepassword")) {
                $("#changepassword").addClass("active");
            }
            if ("@ViewBag.Avatar" != "") {
                var imgElement = document.getElementsByName("profilePic");
                imgElement.src = "/UploadedFiles/" + "@ViewBag.Avatar";
            }
        </script>

        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            function triggerActionConfirmationModal(recordName, deleteUrl) {
                $('#confirmActionModal').modal('show');
            }

            function triggerReviewConfirmationModal(recordName, deleteUrl) {
                $('#confirmReviewModal').modal('show');
                if (recordName != "" && recordName != null) {
                    document.getElementById("record-to-review").innerText = recordName;
                }
                var confirmReviewButton = document.querySelector("#confirmed-reviewbtn");
                confirmReviewButton.addEventListener('click', () => {
                    window.location = deleteUrl;
                });
            }

            function triggerApproveConfirmationModal(recordName, deleteUrl) {
                $('#confirmApproveModal').modal('show');
                if (recordName != "" && recordName != null) {
                    document.getElementById("record-to-approve").innerText = recordName;
                }
                var confirmDeleteButton = document.querySelector("#confirmed-approvebtn");
                confirmDeleteButton.addEventListener('click', () => {
                    window.location = deleteUrl;
                });
            }

            function triggerSubmitConfirmationModal(recordName, deleteUrl) {
                $('#confirmSubmitModal').modal('show');
                if (recordName != "" && recordName != null) {
                    document.getElementById("record-to-submit").innerText = recordName;
                }
                var confirmDeleteButton = document.querySelector("#confirmed-submitbtn");
                confirmDeleteButton.addEventListener('click', () => {
                    window.location = deleteUrl;
                });
            }

            function triggerDeleteConfirmationModal(recordName, deleteUrl) {
                $('#confirmDeleteModal').modal('show');
                if (recordName != "" && recordName != null) {
                    document.getElementById("record-to-delete").innerText = recordName;
                }
                var confirmDeleteButton = document.querySelector("#confirmed-deletebtn");
                confirmDeleteButton.addEventListener('click', () => {
                    window.location = deleteUrl;
                });
            }

            function confirmLogOut() {
                $('#confirmLogoutModal').modal('show');
            }
        </script>
    </body>
</html>
