@using Microsoft.AspNet.Identity
@using ERCOFAS.Models;
@using ERCOFAS.Helpers
@using ERCOFAS.Resources
@using ERCOFAS.Enumeration;
@{
    var userRole = RoleHelpers.GetMainRole();
}
<!-- Call once, used in entire LeftSidebar.cshtml -->
@{
    CurrentUserPermission dashboardPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.Dashboard.ToString());
    CurrentUserPermission preFiledCasePermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.PreFiledCase.ToString());
    CurrentUserPermission filedCasePermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.FiledCase.ToString());
    CurrentUserPermission hearingPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.Hearing.ToString());
    CurrentUserPermission initiatoryPleadingPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.InitiatoryPleading.ToString());
    CurrentUserPermission pleadingCaseNumberPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.PleadingWithCaseNumber.ToString());
    CurrentUserPermission otherCorrespondensePermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.OtherLetterCorrespondense.ToString());
    CurrentUserPermission disputeResolutionPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.DisputeResolution.ToString());
    CurrentUserPermission transactionPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.Transaction.ToString());
    CurrentUserPermission paymentPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.Payment.ToString());
    CurrentUserPermission userStatusPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.UserStatus.ToString());
    CurrentUserPermission userTypePermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.UserType.ToString());
    CurrentUserPermission caseTypePermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.CaseType.ToString());
    CurrentUserPermission caseNaturePermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.CaseNature.ToString());
    CurrentUserPermission userAttachmentTypePermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.UserAttachmentType.ToString());
    CurrentUserPermission roleManagementPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.RoleManagement.ToString());
    CurrentUserPermission userManagementPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.UserManagement.ToString());
    CurrentUserPermission loginHistoryPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.LoginHistory.ToString());
    CurrentUserPermission stakeholderPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.StakeholderRegistration.ToString());
    CurrentUserPermission registrationPermission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.Registration.ToString());
}

<!-- Sidebar -->
<style>
    img.profile-pic {
        max-width: 75px;
        max-height: 75px;
        height: 100%;
        width: 100%;
    }

    #sidebar-toggler {
        padding: 10px;
        border-radius: 50%;
        font-size: 40px;
        cursor: pointer;
        transition: 0.1s;
    }

        #sidebar-toggler:hover {
            cursor: pointer;
            background-color: #48545f14;
        }

    #gone {
        max-height: 75px;
        max-width: 75px;
        width: 100%;
        height: 100%;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: row;
    }

    #sidebar-default .logo-wrapper .app-logo #gone, #chkbx:checked ~ #sidebar-default #sidebar-nav li a span, #chkbx:checked ~ #sidebar-default .logo-wrapper .app-logo #gon,
    #chkbx:checked ~ #sidebar-default .profile-wrapper #txthd, #chkbx {
        display: none;
    }

        #chkbx:checked ~ .sidebar {
            width: 5%;
        }

        #chkbx:checked ~ #sidebar-default .logo-wrapper .app-logo #gone,
        #chkbx:checked ~ #sidebar-default .profile-wrapper {
            display: flex;
            justify-content: center;
        }

        #chkbx:checked ~ #main {
            margin-left: 0px;
            padding: 20px 20px 20px 120px;
        }

        #chkbx:checked ~ .header {
            margin-left: 5%;
        }

        #chkbx:checked ~ #sidebar-default .sidebar-nav .logo-wrapper .w-100 i {
            transform: rotateY(180deg);
        }

        #chkbx:checked ~ #sidebar-default div#menuBtn {
            display: flex;
            justify-content: center;
            margin: 0 0 0 0 !important;
            padding: 0 0 0 0 !important;
        }

        #chkbx:checked ~ #sidebar-default .sidebar-nav .nav-item .nav-link {
            margin: 0 0 0 0;
        }

        #chkbx:checked ~ #sidebar-default .profile-wrapper div,
        #chkbx:checked ~ #sidebar-default .logo-wrapper {
            padding-left: 0 !important;
            display: flex;
            justify-content: center;
        }

    #mvr {
        font-size: 20px;
    }

    #chkbx:checked ~ #sidebar-default .sidebar-nav .nav-item .nav-link {
        justify-content: center;
        display: flex;
    }

    #menuBtn {
        margin-left: 5%;
    }

        #menuBtn label {
            color: white;
            font-size: 2em;
            transition: all 0.2s ease-in-out;
        }

            #menuBtn label:hover {
                color: #647fd0;
                cursor: pointer;
            }
</style>

<aside id="sidebar-default" class="sidebar d-none d-md-block" enableDock dockSize="100px"
       style="background: @(userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString() ? "#2C3655" : "#3F5495")">
    <div class="logo-wrapper d-flex ps-3 mt-2">
        <div class="app-logo">
            <img id="gone" src="~/Assets/logo/93x93.png" />
            <img id="gon" src="~/Assets/logo/erc.png" />
        </div>
    </div>

    <div class="profile-wrapper d-flex ps-3 gap-3 mt-5 mb-3">
        <img class="profile-pic rounded-circle" src="~/UploadedFiles/@UserHelpers.GetProfilePicture(User.Identity.GetUserName())" />
        <div id="txthd" class="d-flex flex-column justify-content-center">
            <h6 id="txthd" class="text-white">
                @UserHelpers.GetFullName(User.Identity.GetUserName())
            </h6>
            <span id="txthd" class="text-white">
                <small>@UserHelpers.GetRoleName(User.Identity.GetUserName())</small>
            </span>
        </div>
    </div>

    <div id="menuBtn" class="ps-3">
        <label for="chkbx">
            <i class="fa fa-bars"></i>
        </label>
    </div>

    <ul class="sidebar-nav @(userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString() ? "nav-link-admin-bg" : ".nav-link-stakeholder-bg")" id="sidebar-nav">
        @if (dashboardPermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard" && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "index" ? "active" : "")" href="@Url.Action("index","dashboard")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/dashboard.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard" />
                    <span class="ms-3 text-white">@Resource.Dashboard</span>
                </a>
            </li>
        }
        @if (userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString())
        {
            if (registrationPermission.ViewRight == true)
            {
                <li class="nav-item" id="cent">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "registration" ? "active" : "")" href="@Url.Action("index","registration")">
                        <img width="25" id="icon" src="~/Assets/erc-icons/registration.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Registration" />
                        <span class="ms-3 py-1 text-white">Registration</span>
                    </a>
                </li>
            }
        }
        @if (transactionPermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "transaction" ? "active" : "")" href="#">
                    <img width="25" id="icon" src="~/Assets/erc-icons/amendment.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Amendment" />
                    <span class="ms-3 py-1 text-white">Amendment</span>
                </a>
            </li>
        }
        @if (preFiledCasePermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "prefiledcase" ? "active" : "")" href="@Url.Action("casepleading","menuselection")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/case.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Case/Pleading" />
                    <span class="ms-3 py-1 text-white">Case/Pleading</span>
                </a>
            </li>
        }
        @if (userStatusPermission.ViewRight == true || userTypePermission.ViewRight == true || userAttachmentTypePermission.ViewRight == true)
        {
            <li class="nav-item">
                <div id="cent">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "systemrole" ? "active" : "")" href="#">
                        <img width="25" id="icon" src="~/Assets/erc-icons/receiving.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Letters & Correspondences" />
                        <span class="ms-3 py-1 text-white">Letters & Correspondences</span>
                    </a>
                </div>
            </li>
        }
        @if (userManagementPermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "validationmetersampling" || ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "validationmetersampling" ? "active" : "")" href="@Url.Action("resultsvalidation","validationmetersampling")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/validation.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Validation of In-service Meter Sampling" />
                    <span class="ms-3 py-1 text-white">Validation of In-Service Meter Sampling</span>
                </a>
            </li>
        }
        <li class="nav-item" id="cent">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "requestsealingacceptance" || ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "requestsealingacceptance" ? "active" : "")" href="@Url.Action("index","requestsealingacceptance")">
                <img width="25" id="icon" src="~/Assets/erc-icons/request.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Request for Sealing and Acceptance Testing of Meters" />
                <span class="ms-3 py-1 text-white">Request for Sealing and Acceptance Testing of Meters</span>
            </a>
        </li>
        @if (userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString())
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "transaction" ? "active" : "")" href="@Url.Action("index","transaction")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/transaction.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Transaction" />
                    <span class="ms-3 py-1 text-white">Transaction</span>
                </a>
            </li>
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "settings" ? "active" : "")" href="@Url.Action("generalsettings","menuselection")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/settings.png" data-bs-toggle="tooltip" data-bs-placement="right" title="General Settings" />
                    <span class="ms-3 py-1 text-white">General Settings</span>
                </a>
            </li>
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "security" ? "active" : "")" href="@Url.Action("security","menuselection")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/Security-.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Security" />
                    <span class="ms-3 py-1 text-white">Security</span>
                </a>
            </li>
        }
    </ul>
</aside>

<!-- 'Only icon' sidebar -->
<aside id="sidebar-onlyicon" class="sidebar onlyicon d-none d-sm-block d-md-none"
       style="background: @(userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString() ? "#2C3655" : "#3F5495")">
    <div class="logo-wrapper d-flex ps-3 mt-2">
        <div class="app-logo">
            <img id="gone" src="~/Assets/logo/93x93.png" />
        </div>
    </div>

    <div class="profile-wrapper d-flex ps-3 gap-3 mt-5 mb-3">
        <img class="profile-pic rounded-circle" src="~/Assets/defaultProfilePicture.jpg" />

    </div>



    <ul class="sidebar-nav @(userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString() ? "nav-link-admin-bg" : ".nav-link-stakeholder-bg")" id="sidebar-nav">
        @if (dashboardPermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard" && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "index" ? "active" : "")" href="@Url.Action("index","dashboard")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/dashboard.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard" />
                </a>
            </li>
        }
        @if (userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString())
        {
            if (registrationPermission.ViewRight == true)
            {
                <li class="nav-item" id="cent">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "registration" ? "active" : "")" href="@Url.Action("index","registration")">
                        <img width="25" id="icon" src="~/Assets/erc-icons/registration.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Registration" />
                    </a>
                </li>
            }
        }
        @if (transactionPermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "transaction" ? "active" : "")" href="#">
                    <img width="25" id="icon" src="~/Assets/erc-icons/amendment.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Amendment" />
                </a>
            </li>
        }
        @if (preFiledCasePermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "prefiledcase" ? "active" : "")" href="@Url.Action("casepleading","menuselection")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/case.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Case/Pleading" />
                </a>
            </li>
        }
        @if (userStatusPermission.ViewRight == true || userTypePermission.ViewRight == true || userAttachmentTypePermission.ViewRight == true)
        {
            <li class="nav-item">
                <div id="cent">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "systemrole" ? "active" : "")" href="#">
                        <img width="25" id="icon" src="~/Assets/erc-icons/receiving.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Receiving of letters/ Correspondences" />
                    </a>
                </div>
            </li>
        }
        @if (userManagementPermission.ViewRight == true)
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "validationmetersampling" || ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "validationmetersampling" ? "active" : "")" href="@Url.Action("index","validationmetersampling")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/validation.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Validation of In-service Meter Sampling" />
                </a>
            </li>
        }
        <li class="nav-item" id="cent">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "requestforsealing" || ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "requestforsealing" ? "active" : "")" href="@Url.Action("index","requestforsealing")">
                <img width="25" id="icon" src="~/Assets/erc-icons/request.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Request for Sealing and Acceptance Testing of Meters" />
            </a>
        </li>
        <li class="nav-item" id="cent">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "retailelectricitysupplier" ? "active" : "")">
                <img width="25" id="icon" src="~/Assets/erc-icons/retail.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Request for Retail Electricity Supplier" />
            </a>
        </li>
        @if (userRole == UserTypeEnum.SuperAdmin.ToString() || userRole == UserTypeEnum.Admin.ToString())
        {
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "transaction" ? "active" : "")" href="@Url.Action("index","transaction")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/transaction.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Transaction" />
                </a>
            </li>
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "settings" ? "active" : "")" href="@Url.Action("generalsettings","menuselection")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/settings.png" data-bs-toggle="tooltip" data-bs-placement="right" title="General Settings" />
                </a>
            </li>
            <li class="nav-item" id="cent">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "security" ? "active" : "")" href="@Url.Action("security","menuselection")">
                    <img width="25" id="icon" src="~/Assets/erc-icons/Security-.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Security" />
                </a>
            </li>
        }
    </ul>
</aside>

<!-- offcanvas Sidebar for Mobile phone device -->
<aside id="offcanvas" class="offcanvas offcanvas-start" tabindex="-1">
    <div class="brandname ps-3">
        @Resource.ERCOFAS.</div>
        <ul class="sidebar-nav" id="sidebar-nav">
            @if (dashboardPermission.ViewRight == true)
            {
                <li class="nav-item mt-3"><a class="nav-link " href="@Url.Action("index","dashboard")"><i class="fa-solid fa-chart-pie"></i><span>@Resource.Dashboard</span></a></li>
            }
            @if (userStatusPermission.ViewRight == true || userAttachmentTypePermission.ViewRight == true)
            {
                <!-- Drop down example -->
                <li class="nav-item">
                    <a class="nav-link collapsed @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "systemrole" ? "active" : "")" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="fa-solid fa-gear"></i><span>@Resource.GeneralSettings</span><i class="fa-solid fa-caret-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        @if (userStatusPermission.ViewRight == true)
                        {
                            <li><a href="@Url.Action("index","userstatus")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "userstatus" ? "active" : "")"><i class="fa-solid fa-user-tag"></i> @Resource.UserStatus</a></li>
                        }
                        @if (userAttachmentTypePermission.ViewRight == true)
                        {
                            <li><a href="@Url.Action("index","userattachmenttype")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "globaloptionset" ? "active" : "")"><i class="fa-solid fa-file"></i> @Resource.UserAttachmentType</a></li>
                        }
                    </ul>
                </li>
            }
            @if (roleManagementPermission.ViewRight == true)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("index","role")">
                        <i class="fa-solid fa-users"></i> <span>@Resource.RoleManagement</span>
                    </a>
                </li>
            }
            @if (userManagementPermission.ViewRight == true)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("index","user")">
                        <i class="fa-solid fa-user-plus"></i> <span>@Resource.UserManagement</span>
                    </a>
                </li>
            }
            @if (loginHistoryPermission.ViewRight == true)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("index","loginhistory")">
                        <i class="fa-solid fa-clock-rotate-left"></i> <span>@Resource.LoginHistory</span>
                    </a>
                </li>
            }
        </ul>
</aside>
