@using ERCOFAS.Models
@using ERCOFAS.Resources;
@using reCaptcha;
@model ForgotPasswordViewModel
@{
    ViewBag.Title = Resource.ForgotPassword;
}

@Html.Partial("~/Views/Shared/_Notification.cshtml")

<header id="masthead" class="table header-full text-white">
    <div id="companyInfo" class="row-header">
        <div id="logo" class="cell p-2">
            <img src="~/Assets/logo/93x93.png">
        </div>
        <div id="brand" class="cell col70">
            <div>Republic of the Philippines</div>
            <div><h3>ENERGY REGULATORY COMMISSION</h3></div>
        </div>
    </div>
</header>

<section>
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center">
                <div class="card mt-3 border-0">
                    <div class="row p-5 rounded">
                        <div class="col-md-12 mx-0">
                            <img class="otp-image" height="200" src="~/Assets/forgot-password.png" alt="Forgot Password" />
                            <h3 class="fw600 text-capitalizetitle-lg text-center mb-4">Forgot Password</h3>
                            <p>Please enter your email address below.</p>
                            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="mb-3 text-break">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @id = "email-address", @class = "form-control", 
                                            autocomplete = "off", placeholder = "Email Address" } })
                                        <small id="invalid-message" class="form-text text-muted invalid-message"></small>
                                        @if (ViewBag.ErrorMessage != null)
                                        {
                                            <small class="form-text text-muted invalid-message">
                                                @ViewBag.ErrorMessage
                                            </small>
                                        }
                                        @if (ViewBag.RecaptchaLastErrors != null)
                                        {
                                            <small class="form-text text-muted invalid-message">
                                                Please confirm the <strong>captcha</strong> below to proceed.
                                            </small>
                                        }
                                    </div>
                                </div>
                                @ReCaptcha.GetHtml(@ViewBag.publicKey)
                                <button id="submit" type="submit" class="btn btn-p8 hover-color-white btn-primary hover-moveup">@Resource.Submit</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        function isFormValid() {
            if ($('#email-address').val().trim().length === 0) {
                return false;
            }
            return true;
        }

        function isValidEmailAddress(emailAddress) {
            var expression = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expression.test(emailAddress)) {
                return false;
            }
            return true;
        }

        $(document).ready(function () {
            $("#submit").click(function (e) {
                if (!isFormValid()) {
                    $('#invalid-message').text('Email address is required field.')
                    $('#invalid-message').show();
                    return;
                } else {
                    $('#invalid-message').hide();
                }

                if (!isValidEmailAddress($('#email-address').val())) {
                    $('#invalid-message').html(`<strong>${$('#email-address').val()}</strong> is not a valid email address.`);
                    $('#invalid-message').show();
                    return;
                } else {
                    $('#invalid-message').hide();
                }
            });
        });
    </script>
}

<style type="text/css">
    main.position-relative {
        width: 100%;
    }

    body, #top-navigation.scrolled {
        background: #edeff4 !important;
    }

    .table > :not(caption) > * > * {
        padding: 0;
    }

    #masthead {
        border-collapse: collapse;
    }

    .table {
        display: table;
    }

    .row-header {
        display: table-row;
    }

    .cell {
        width: 1%;
        display: table-cell;
        vertical-align: middle;
    }

    .col70 {
        width: 70%;
    }

    .col30 {
        width: 30%;
    }

    #logo img {
        display: block;
    }

    .header-full {
        background: #2c3655;
    }


    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    button {
        width: 100% !important;
    }

    .g-recaptcha {
        margin-left: 100px;
        width: 50%;
        padding-bottom: 5px;
    }
</style>
